<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Ace's eBookstore</title>

    <link type="text/css" rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header id="main-header" class="bg-header text-white p-2 mb-3 sticky-top">
      <h1 class='text-center'>Ace's eBookstore</h1>
    </header>

    <div class="container">
      <h3>Search Results</h3>
      <div class="card card-body">
          <table class="table-bordered">
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Title</th>
              <th class="text-center">ISBN</th>
              <th class="text-center">Author</th>
              <th class="text-center">Genre</th>
              <th class="text-center">Price</th>
              <th class="text-center">Publication Date</th>
            </tr>
          <%data.forEach((item)=>{%>
            <tr>
              <td class="text-center">
                <%=item.EBOOK_ID%> &nbsp;
              </td>
              <td>
                <%=item.EBOOK_TITLE%> &nbsp;
              </td>
              <td>
                <%=item.EBOOK_ISBN%> &nbsp;
              </td>
              <td>
                <%=item.EBOOK_AUTHOR%> &nbsp;
              </td>
              <td>
                <%=item.EBOOK_GENRE%> &nbsp;
              </td>     
              <td>
                $<%=item.EBOOK_PRICE%> &nbsp;
              </td>
              <td>
                <%=Intl.DateTimeFormat('en-US', {year: 'numeric', month: 'long', day: '2-digit'}).format(item.EBOOK_PUB) %>
              </td>
            </tr>
            <%});%>
          </table>
      </div>
    </div>
  </body>
</html>
